SourceData=$MAGNET

#######################################
# Job management systems	      #
#######################################
ENV="SLURM"

tasks_slurm=12
nodes_slurm=1
memory_slurm=6000
time_slurm=7-00:00:00
mail_slurm=ALL
partition_slurm=parallel
outputname=Phasing.out

tasks_pbs=12
nodes_pbs=1
memory_pbs=6000
time_pbs=7-00:00:00
mail_pbs=a
partition_pbs="batch"

#######################################
# Script to be used		      #
#######################################

Script="CompleteScript.sh"

#######################################
# Quality Control thresholds	      #
#######################################

GENO=0.05
HWE=10e-8
MAF=0.02
MIND=0.05
MEFam=0.01
MESNP=0.1

#######################################
# Imputation thresholds 	      #
#######################################

thresholdImp=0.3

PlinkAffection=2
MissingError="Missing"
StrandError="Strand"
ShapeitOutput="gwas.alignments"

#######################################
# Regression thresholds 	      #
#######################################

chunkSize=5000
pheno="JA"
covars="Sex,Age"
fixed="Site"
snpsOfInterest=
ColManhattan="black"

#######################################
# Enrichment thresholds 	      #
#######################################

windowSize=5
MagmaPERMP=0.05
MagmaN=50
GOeliteSpecies="Hs" 
GOplotscol="#D95F02"
KEGGplotscol="blue"


