####################################################################Initial Configuration####################################################################
CurrentDir=$(pwd) 

installationDir=$CurrentDir

MAGNET=$CurrentDir

SourceData=$MAGNET
#######################################
# Stage 1: Quality Control	      #
#######################################

SamplesToQC=$MAGNET/Data/Example

DuplicatedIds=

Hapmapfile=$MAGNET/RefData/hapmap_r23a

Siteinfo=$MAGNET/RefData/Hapmap_siteinfo.txt


#######################################
# Stage 2: Imputation 		       #
#######################################

QualityCheckedFile=

AffectedInds=

phenofile=

hg19SNPs=$MAGNET/RefData/SNPs_all.bed

MapFile=$MAGNET/RefData/genetic_map_b37

LIFTOVER=

Chain16To19=$MAGNET/RefData/hg16ToHg19.over.chain.gz

Chain17To19=$MAGNET/RefData/hg17ToHg19.over.chain.gz

Chain18To19=$MAGNET/RefData/hg18ToHg19.over.chain.gz

Chain38To19=$MAGNET/RefData/hg38ToHg19.over.chain.gz

ChainToChoose=

ExtractAffected=


#######################################
# Stage 3: GWAS		       #
#######################################

ShapeitRefHaps=$MAGNET/RefData/ALL_1000G_phase1integrated_v3_impute

ShapeitRefLegend=$MAGNET/RefData/ALL_1000G_phase1integrated_v3_impute

ShapeitRefSample=$MAGNET/RefData/ALL_1000G_phase1integrated_v3_impute

AnnotationFile=$MAGNET/RefData/AnnotationFiles_SNP151

MagmaRef=$MAGNET/RefData/g1000_eur

MagmaSNPloc=$MagmaRef.bim

MagmaGeneloc=$MAGNET/RefData/NCBI37.3.gene.loc



#######################################
# Stage 4: Enrichment		       #
#######################################

pheno=

GenelistProvided=

GenelistFromStage3=$MAGNET/OUTPUT_DIR/Stage3_GWAS/$pheno.SignificantGenes.txt

KangUnivers=$MAGNET/RefData/KangUnivers.txt

