####################################################################Initial Configuration####################################################################
CurrentDir=$(pwd) 

installationDir=$CurrentDir
MAGNET=$CurrentDir

SourceData=$MAGNET
#######################################
# Stage 1: Quality Control	      #
#######################################

SamplesToQC=$MAGNET/Data/ExampleData

Hapmapfile=$MAGNET/RefData/hapmap_r23a

Siteinfo=$MAGNET/RefData/Hapmap_siteinfo.txt


#######################################
# Stage 2: Imputation 		      #
#######################################

AffectedInds=$MAGNET/Data/Dummy_Aff.txt

phenofile=$MAGNET/Data/Dummy_Phenotypes.txt

hg19SNPs=$MAGNET/RefData/SNPs_all.bed

MapFile=$MAGNET/RefData/genetic_map_b37

Chain16To19=$MAGNET/RefData/hg16ToHg19.over.chain.gz

Chain17To19=$MAGNET/RefData/hg17ToHg19.over.chain.gz

Chain18To19=$MAGNET/RefData/hg18ToHg19.over.chain.gz

Chain38To19=$MAGNET/RefData/hg38ToHg19.over.chain.gz

ChainToChoose=$Chain18To19


ShapeitRefHaps=$MAGNET/RefData/ALL_1000G_phase1integrated_v3_impute

ShapeitRefLegend=$MAGNET/RefData/ALL_1000G_phase1integrated_v3_impute

ShapeitRefSample=$MAGNET/RefData/ALL_1000G_phase1integrated_v3_impute

AnnotationFile=$MAGNET/RefData/AnnotationFiles_SNP142


MagmaRef=$MAGNET/RefData/g1000_eur

MagmaSNPloc=$MagmaRef.bim

MagmaGeneloc=$MAGNET/RefData/NCBI37.3.gene.loc



#######################################
# Stage 4: Enrichment		      #
#######################################

pheno="JA"
Genelist=$MAGNET/OUTPUT_DIR/Stage3_GWAS/$pheno.SignificantGenes.txt

KangUnivers=$MAGNET/RefData/KangUnivers.txt


GOelite=/scratch/agmisc/afsheen/GitHub_Repository/MAIN_DIR/GOelite/GO-Elite_v.1.2.5-Py/GO_Elite.py
liftOver=/scratch/agmisc/afsheen/SNP_imputation/liftOver
magma=/scratch/agmisc/afsheen/Pipelines/magma
PLINK=/scratch/agmisc/afsheen/GitHub_Repository/MAIN_DIR/PLINK/plink
R=/usr/bin/R
SHAPEIT=/scratch/agmisc/afsheen/SNP_imputation/bin/shapeit
PERL=/usr/bin/perl
PYTHON=/usr/bin/python
sh=/usr/bin/bash
GOelite=/scratch/agmisc/afsheen/GitHub_Repository/MAIN_DIR/GOelite/GO-Elite_v.1.2.5-Py/GO_Elite.py
liftOver=/scratch/agmisc/afsheen/SNP_imputation/liftOver
magma=/scratch/agmisc/afsheen/Pipelines/magma
PLINK=/scratch/agmisc/afsheen/GitHub_Repository/MAIN_DIR/PLINK/plink
minimac=/scratch/agmisc/afsheen/GitHub_Repository/minimac/Minimac3Executable/bin/Minimac3
R=/usr/bin/R
SHAPEIT=/scratch/agmisc/afsheen/SNP_imputation/bin/shapeit
PERL=/usr/bin/perl
PYTHON=/usr/bin/python
sh=/usr/bin/bash
GOelite=/scratch/agmisc/afsheen/GitHub_Repository/MAIN_DIR/GOelite/GO-Elite_v.1.2.5-Py/GO_Elite.py
liftOver=/scratch/agmisc/afsheen/SNP_imputation/liftOver
magma=/scratch/agmisc/afsheen/Pipelines/magma
PLINK=/scratch/agmisc/afsheen/GitHub_Repository/MAIN_DIR/PLINK/plink
minimac=/scratch/agmisc/afsheen/GitHub_Repository/minimac/Minimac3Executable/bin/Minimac3
R=/usr/bin/R
SHAPEIT=/scratch/agmisc/afsheen/SNP_imputation/bin/shapeit
PERL=/usr/bin/perl
PYTHON=/usr/bin/python
sh=/usr/bin/bash
